body { 
    font-family: var(--font-sans); 
    text-align:center; 
    background-color: #51a3a3;
}

h1 {
    color: #3b3561;
    font-size: var(--fs-xxxl);
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
}

h2 {
    color: #3b3561;
    font-size: var(--fs-xl);
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: normal;
    letter-spacing: 2px;
}

h3 {
    color: #3b3561;
    font-size: var(--fs-lg);
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    color: #3b3561;
    font-size: var(--fs-md);
    line-height: 1.7;
    margin-bottom: 12px;
}

section { background-color: #dd7373;}

a { color: #d1d1d1; }

:root {
    /* CSS HEX */
    --light-coral: #dd7373ff;
    --space-indigo: #3b3561ff;
    --golden-glow: #ead94cff;
    --dust-grey: #d1d1d1ff;
    --tropical-teal: #51a3a3ff;
}